# Node.js
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Sequelize migrations
/migrations/

# Sequelize seeders
/seeders/

# Build output
/dist/

# Editor and IDE files
.vscode/
.idea/


# Dependencies installed via npm
package-lock.json

# Operating System temporary files
Thumbs.db